.mentor-list { margin-top: 5; }

.mentor-card {
	border-color: #9b9b9b;
    border-radius: 10;
	margin-left: 10;
	margin-right: 10;
	margin-top: 10;
    padding: 8;
}

.mentor-name {
	color: #4a4a4a;
	font-size: 20;
	text-align: center;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5;
}

.mentor-title {
	color: #999;
	font-size: 16;
	text-align: center;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5;
}

.mentor-description {
	font-style: italic;
	background: rgba(21, 21, 21, .01);
	margin-bottom: 5;
	padding-top: 5;
	padding-bottom: 5;
	padding-left: 3;
	padding-right: 3;
	border-radius: 10;
	text-align: center;
}

.mentor-tag-container {
	margin: 2;
	padding: 0;
	background-color: #69D5B1;
	border-radius: 5;
}

.mentor-tag {
	margin: 4;
    font-size: 12;
}

.overview-mentor-name {
    color: #4a4a4a;
    font-size: 18;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5;
}


.overview-mentor-title {
    color: #999;
    font-size: 12;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5;
}

.separator {
	height: 1;
	color: #9b9b9b;
}

.channel {
	font-size: 24;
	color: #999;
}

.channel-text {
	font-size: 16;
	color: #999;
}